{% extends "layout.html" %}
{% block content %}

  <!-- MAIN CONTENT -->
  <main>
    <div class="welcome-banner">
      <h1>WELCOME TO MUSIC4U</h1>
    </div>

    <section class="recommendations">
      <h2>FOR YOU</h2>
      <div class="card-row">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </section>

    <section class="recent">
      <h2>JUMP BACK IN</h2>
      <div class="card-row">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </section>
  </main>

{% endblock %}
