<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Music4U </title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <h1>Welcome to Music4U 🎵</h1>
        <p>Your personalized gateway to the world of music.</p>
        <p><a href="/auth">Go to Sign In / Sign Up</a></p>
    </header>

    <main>
        <section>
            <h2>Discover Music You'll Love</h2>
            <p>Explore curated playlists for genres like K-pop, J-pop, EDM, Vocaloid, and more!</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Music4U Project</p>
    </footer>
</body>

</html>
